<div class="body">
    <div class="container-sections">
        <app-h1 tittle="Gestion de Contratos del Afiliado"></app-h1>

        <app-card-gestion-contratos></app-card-gestion-contratos>

        <div class="container">
            <app-h3 tittle="Grupo Familiar" colorFont="white"></app-h3>
            <div class="container-dataTable">
                <app-data-table [T_heads]="encabezados"></app-data-table>
            </div>
        </div>
    </div>

    <app-aside-bar></app-aside-bar>
</div>