
.container-sections{
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 0 2rem;
    width: 100%;
    
    & .container{
        width: 100%;
        background-color: green;
        padding: 1rem;
        margin: 1rem 0;
        border-radius: 20px;

        
        & .container-dataTable{
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 25rem;
            overflow-y: scroll;
            background-color: aliceblue;
            margin: .8rem 0 0 0;
            border-radius: 20px;
        }
    }
}