<div class="body">
    <div class="container-sections">
        <app-h1 tittle="Todos Los movimientos del Sistema"></app-h1>
        <div class="container">
            <app-h3 tittle="Registro de todos los Usuarios" colorFont="white"></app-h3>

            <div class="container-acordeon">
                <details >
                    <summary> 
                        <div class="profile-acordeon">
                            <div class="icon-acordeon"></div>
                            <div class="image-acordeon"></div>
                            <div class="text-acordeon">
                                <h4>Henry hizo un registro beneficiario</h4>
                                <p>Hoy a las 6:38 pm</p>
                            </div>
                        </div>
                    </summary>

                    <div class="details-acordeon">
                        <ul>
                            <li> Añadio a <span>Naudy</span> como beneficiario </li>
                            <!-- <li>Opcion 2</li>
                            <li>Opcion 3</li> -->
                        </ul>
                    </div>
                </details>

                <details >
                    <summary> 
                        <div class="profile-acordeon">
                            <div class="icon-acordeon"></div>
                            <div class="image-acordeon"></div>
                            <div class="text-acordeon">
                                <h4>Edilma añadio un pago</h4>
                                <p>Hoy a las 7:46 pm</p>
                            </div>
                        </div>
                    </summary>

                    <div class="details-acordeon">
                        <ul>
                            <li>Registro un <span>pago</span> de el beneficiario <span>Pastor Jimenez</span> </li>
                            <!-- <li>Opcion 2</li>
                            <li>Opcion 3</li> -->
                        </ul>
                    </div>
                </details>

                <details >
                    <summary> 
                        <div class="profile-acordeon">
                            <div class="icon-acordeon"></div>
                            <div class="image-acordeon"></div>
                            <div class="text-acordeon">
                                <h4>Barbara creo un rol</h4>
                                <p>Hoy a las 8:10 pm</p>
                            </div>
                        </div>
                    </summary>

                    <div class="details-acordeon">
                        <ul>
                            <li>Se creo un rol <span>"pasante"</span> para <span>maria</span> la nueva pasante </li>
                            <!-- <li>Opcion 2</li> -->
                            <!-- <li>Opcion 3</li> -->
                        </ul>
                    </div>
                </details>

                <details >
                    <summary> 
                        <div class="profile-acordeon">
                            <div class="icon-acordeon"></div>
                            <div class="image-acordeon"></div>
                            <div class="text-acordeon">
                                <h4>Edilma elimino un usuario</h4>
                                <p>Hoy a las 10:09 pm</p>
                            </div>
                        </div>
                    </summary>

                    <div class="details-acordeon">
                        <ul>
                            <li>Edilma elimino al usuario <span>jesus</span> </li>
                            <!-- <li>Opcion 2</li> -->
                            <!-- <li>Opcion 3</li> -->
                        </ul>
                    </div>
                </details>



            </div>
 
        </div>
    </div>
</div>

<app-aside-bar></app-aside-bar>