<div class="body">
    <div class="container-sections">
        <app-h1 tittle="Todos Los movimientos del Sistema"></app-h1>
        <div class="container">
            <app-h3 tittle="Registro de todos los Usuarios" colorFont="white"></app-h3>

            <div class="container-acordeon">
                <details >
                    <summary> 
                        <div class="profile-acordeon">
                            <div class="icon-acordeon"></div>
                            <div class="image-acordeon"></div>
                            <div class="text-acordeon">
                                <h4>Julian hizo un registro beneficiario</h4>
                                <p>Hoy a las 6:38 pm</p>
                            </div>
                        </div>
                    </summary>

                    <div class="details-acordeon">
                        <ul>
                            <li>Opcion 1</li>
                            <li>Opcion 2</li>
                            <li>Opcion 3</li>
                        </ul>
                    </div>
                </details>

                <details >
                    <summary> 
                        <div class="profile-acordeon">
                            <div class="icon-acordeon"></div>
                            <div class="image-acordeon"></div>
                            <div class="text-acordeon">
                                <h4>Julian hizo un registro beneficiario</h4>
                                <p>Hoy a las 6:38 pm</p>
                            </div>
                        </div>
                    </summary>

                    <div class="details-acordeon">
                        <ul>
                            <li>Opcion 1</li>
                            <li>Opcion 2</li>
                            <li>Opcion 3</li>
                        </ul>
                    </div>
                </details>

                <details >
                    <summary> 
                        <div class="profile-acordeon">
                            <div class="icon-acordeon"></div>
                            <div class="image-acordeon"></div>
                            <div class="text-acordeon">
                                <h4>Julian hizo un registro beneficiario</h4>
                                <p>Hoy a las 6:38 pm</p>
                            </div>
                        </div>
                    </summary>

                    <div class="details-acordeon">
                        <ul>
                            <li>Opcion 1</li>
                            <li>Opcion 2</li>
                            <li>Opcion 3</li>
                        </ul>
                    </div>
                </details>

                <details >
                    <summary> 
                        <div class="profile-acordeon">
                            <div class="icon-acordeon"></div>
                            <div class="image-acordeon"></div>
                            <div class="text-acordeon">
                                <h4>Julian hizo un registro beneficiario</h4>
                                <p>Hoy a las 6:38 pm</p>
                            </div>
                        </div>
                    </summary>

                    <div class="details-acordeon">
                        <ul>
                            <li>Opcion 1</li>
                            <li>Opcion 2</li>
                            <li>Opcion 3</li>
                        </ul>
                    </div>
                </details>

         

            </div>
 
        </div>
    </div>
</div>

<app-aside-bar></app-aside-bar>