<div class="container-card">
    <div class="card-header">
        <div class="header-info">
            <h2>Numero de Contrato: [Codigo]</h2>
            <div class="container-text">
                <strong>Nombre:</strong>
                <p>Jose Julian Castellanos Alejos</p>
            </div>

            <div class="container-text">
                <strong>Direccion:</strong>
                <p>Carrera 3 entre calles 57 y 58</p>
            </div>
        </div>

        <div class="header-buttons">
            <button>Generar PDF</button>
        </div>
    </div>

    <div class="card-body">
        <div class="container-personalData">
            <h3>Servicios del Contrato</h3>

            <div class="container-services">
                <span>Servicio Funerario</span>
                <span>Servicio Medico</span>
                <span>Servicio Ahorro</span>
                <!-- <span>Servicio 4</span> -->
            </div>

        </div>
        <div class="container-attach">
            <h3>Archivos Adjuntos</h3>
        </div>
    </div>
</div>