.body{
    padding-left: 17.5rem;
}

.container-sections{
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 0 2rem;
    width: 100%;
}