    <div class="card-header">
        <div class="header-info">
            <h2>Cecocesola</h2>
            
            <strong>Organismo de integracion Solidario</strong>
    
            <span>J-0000000001</span>
        </div>   
        <div class="header-comprobante">
            <h3>Comprobante Aporte Solidario</h3>
            <div class="container-text-compuesto">
                <div class="container-text">
                    <strong>Numero de Socio:</strong><p>507</p>
                </div>
                <div class="container-text">
                    <strong>Fecha de Asignacion:</strong><p>12/07/2024</p>
                </div>
                <div class="container-text">
                    <strong>Hora de Asignacion:</strong><p> 03:21:40 p.m  </p>
                </div>
                <span class="status"> Estado</span>
            </div>
     
        </div>
    </div>
    
    <div class="card-body">
        <div class="container-infoCliente">
            <h3>Informacion del Cliente</h3>
            <div class="container-text">
                <strong>Cedula / Rif:</strong><p> 29654651 </p>
            </div>
            <div class="container-text">
                <strong> Nombre / Razon Social:</strong><p> Jose Castellanos</p>
            </div>
            <div class="container-text">
                <strong>Direccion Fiscal:</strong><p>  Carrera 3 entre calles 57 y 58 </p>
            </div>
            <div class="container-text">
                <strong>Telefono: </strong><p> 04261095698 </p>
            </div>
            <div class="container-text">
                <strong>Correo Electronico:</strong> <p> prueba2retgmail.com</p>
            </div>
        </div>
    </div>
    