:host{
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 0 1rem;
    width: 100%;

    & strong {
        text-shadow: 0 0 1px black;
    }

    & :is(strong, p) {
        text-align: center;
        margin: 0 .3rem;
        font-weight: 400;
        letter-spacing: 1px;
    }
}