
    <div class="header-img">
    </div>
    <div class="header-info">
        <app-h2 tittle="Informacion Del Afiliado [Codigo]"></app-h2>
        <app-content-text strongText="Nombre:" pText="Jose Castellanos"></app-content-text>
        <div class="container-text-compuesto">
           <app-content-text strongText="Beneficiarios:" pText="1"></app-content-text>
            <app-content-text strongText="Contratos:" pText="1"></app-content-text>
        </div>
        <span>Estado</span>
    </div>

    <div class="header-buttons">
        <app-button tittle="Facturas" width="100%"></app-button>
        <app-button tittle="Contratos" width="100%"></app-button>
    </div>