<div class="body">

    <div class="container-sections">
        <app-h1 tittle="Gestion de roles y Permisos"></app-h1>
        <div class="container">
            <app-h3 tittle="Roles disponibles" colorFont="white"></app-h3>

            <div class="container-info">
                <div class="container-header">
                    <button>Agregar nuevo Rol</button>
                </div>
    
                <div class="container-acordeon">
                    <details >
                        <summary> 
                            <div class="profile-acordeon">
                                <div class="text-acordeon">
                                    <h4>Secretaria</h4>
                                </div>
                                <div class="buttons-acordeon">
                                    <a href="#">
                                        <img src="../../assets/Icons/EvaEdit2Fill.svg" alt="Editar-Afiliado">
                                        <span class="tooltip">Editar informacion </span>
                                    </a>
                                    <a href="#">
                                        <img src="../../assets/Icons/EvaTrash2Fill.svg" alt="Eliminar-Afiliado">
                                        <span class="tooltip">Eliminar</span>
                                    </a>
                                </div>
                            </div>
                        </summary>
    
                        <div class="details-acordeon">
                            <p>Descripcion del los permisos que tiene este rol</p>
                        </div>
                    </details>
                </div>
            </div>

    </div>
    
</div>


<app-aside-bar></app-aside-bar>