<div class="checkbox-group">
    <input type="checkbox" id="opcion1" name="opciones-pago" value="opcion1">
    <label for="opcion1">Opción 1</label>

    <input type="checkbox" id="opcion2" name="opciones-pago" value="opcion2">
    <label for="opcion2">Opción 2</label>

    <input type="checkbox" id="opcion3" name="opciones-pago" value="opcion3">
    <label for="opcion3">Opción 3</label>

    <input type="checkbox" id="opcion4" name="opciones-pago" value="opcion4">
    <label for="opcion4">Opción 4</label>
</div>