<app-aside-bar></app-aside-bar>
<!-- <div class="body">
    <app-h1 tittle="Modulo de Auditoria"></app-h1>
    <div class="container">
        <app-h2 tittle="usuarios"></app-h2>
    </div>
</div> -->
<div class="body"ng-controller="MyController">
    <app-h1 tittle="Modulo de Auditoria"></app-h1>
    <app-h2 tittle="Usuarios"></app-h2>
    <div class="grid-container">

        
        <app-card-usuario tittle="Edilma"></app-card-usuario>
        <app-card-usuario tittle="Henry"></app-card-usuario>
        <app-card-usuario tittle="Barbara"></app-card-usuario>
        <app-card-usuario tittle="Pedro"></app-card-usuario>
    </div>
</div>
