:host {
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;
  color: var(--gray-color);

  &:hover {
    background-color: var(--primary-color);
  }

  & i {
    margin-right: 0.5rem;
  }
}

.fixed-inicio {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;
  text-align: center;
}