:host {
  width: 100%;
  color: var(--gray-color);

  & a{
    text-align: center;
    display: block;
    font-size: large;
    letter-spacing: 2px;
  }

  & a:hover{
    transform: scaleX(1.05);
    color: yellow;
  }
}
