<!-- ! esta vista se eliminara cuando en la vista aside-bar tenga los if  -->
<!-- ! si tiene x rol tiene acceso a x modulos -->
<aside>
    <nav class="navbar">
        <a routerLink="/auditoria"><i class="fas fa-home"></i> servicio 1</a>
        <a routerLink="/facturacion"><i class="fas fa-user"></i> servicio 2</a>
        <a routerLink="/facturacionDash"><i class="fas fa-cog"></i> servicio 3</a>
        <a routerLink="/afiliados"><i class="fas fa-envelope"></i> servicio 4</a>
        <a routerLink="/" class="fixed-inicio"><i class="fas fa-user"></i> inicio</a>
    </nav>
</aside>