:host{
    display: flex;
    align-items: center;
    width: 100%;

    & h3{
        font-family: var(--font-h3);
        padding-left: .5rem;
        font-size: 1.2rem;
        font-weight: 500;
        letter-spacing: 2px;
    }
}