:host{
    width: 100%;
}

.container-sections{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    padding: 0 2rem;
    width: 100%;

    & .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        width: 100%;
        height: 35rem;
        padding: .5rem .7rem;
        border-radius: 20px;
        background-color: var(--secondary-color);

        & .container-acordeon{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: .5rem;
            width: 100%;
            height: 100%;
            padding: .5rem 1rem;
            overflow: scroll;
            border-radius: 10px;
            background-color: white;

            & details{
                width: 100%;
                padding: .5rem .5rem .1rem .5rem ;
                background-color: #eeeeee;
                border-radius: 10px;
                color: rgb(0, 0, 0);
                border: 1px solid rgb(155, 155, 155);

                & summary{ list-style: none; }

                & .profile-acordeon{
                    display: flex;
                    justify-content: start;
                    align-items: center;
                    width: 80%;
                    padding: 0 1rem;
                    gap: 1rem;

                    & .icon-acordeon{
                        background-image: url(../../../../../public/assets/Icons/EvaPersonAddFill.svg);
                        width: 30px;
                        height: 30px;
                        padding: .2rem;
                    }

                    & .image-acordeon{
                        width: 45px;
                        height: 45px;
                        border-radius: 50%;
                        padding: .1rem;
                        background-color: blue;
                    }

                    & .text-acordeon{
                        width: 50%;
                        padding: .2rem 0;
                        white-space: nowrap;
                        
                        & h4{
                            font-size: .9rem;
                            font-weight: 600;
                            letter-spacing: 1px;
                            padding: .1rem 0;
                        }

                        & p{
                            padding: 0 .5rem;
                            font-size: .75rem;
                            font-weight: 800;
                            letter-spacing: 1px;
                        }
                    }
                }

                & .details-acordeon{
                    width: 100%;
                    padding: 0 4rem ;

                    & ul{
                        display: flex;
                        flex-direction: column;
                        padding: .5rem 0;
                        gap: .5rem;
                        
                        & li{
                            width: 100%;
                            padding: 0 .5rem;
                            list-style: none;
                        }
                    }
                }


            }

        }
    }
}
span{
    text-decoration: underline;
    cursor: pointer;
}