
    <div class="container-personalData">
        @if (renderizar() =='Afiliados') {
            <app-h3 tittle="Datos Personales"></app-h3>
            <app-content-text strongText="Edad:" pText="22"></app-content-text>
            <app-content-text strongText="Direccion:" pText="carrera 3 entre calles 57 y 58" whiteSpace="nowrap"></app-content-text>
            <app-content-text strongText="Correo:" pText="jjosealejos07gmail.com" ></app-content-text>
            <app-content-text strongText="Telefono:" pText="0412-5659767"></app-content-text>
        }
        @else if (renderizar() =='Contratos') {
            <app-h3 tittle="Servicios del Contrato"></app-h3>
            <app-content-text strongText="Servicio:" pText="1"></app-content-text>
            <app-content-text strongText="Servicio:" pText="2"></app-content-text>
            <app-content-text strongText="Servicio:" pText="3"></app-content-text>
            <app-content-text strongText="Servicio:" pText="4"></app-content-text>
        }
    </div>
    <div class="container-attach">
         <h3>Archivo Adjunto</h3>
        <div class="container-image ">
            <img src="../../assets/images/rifFCV.png" alt="">
        </div>
    </div>