
    <div class="container-personalData">
        
        <app-h3 tittle="Datos Personales"></app-h3>
        <app-content-text strongText="Edad:" pText="22"></app-content-text>
        <app-content-text strongText="Direccion:" pText="carrera 3 entre calles 57 y 58" whiteSpace="nowrap"></app-content-text>
        <app-content-text strongText="Correo:" pText="jjosealejos07gmail.com" ></app-content-text>
        <app-content-text strongText="Telefono:" pText="0412-5659767"></app-content-text>
    </div>
    <div class="container-attach">
         <h3>Archivo Adjunto</h3>
        <div class="container-image ">
            <img src="../../assets/images/rifFCV.png" alt="">
        </div>
    </div>