<table>
    <thead>
        <tr>
            <th></th>
            @for (th of T_heads(); track $index) {
            <th>{{ th }} </th>
            }
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><img src="assets/Icons/EvaPersonAddFill.svg" alt="Añadir-Afiliado"></td>
            <td>Julian Castellanos</td>
            <td>correo</td>
            <td>29654651</td>
            <td>07/11/2024</td>
            <td><span class="status">Estado</span></td>
            <td>
                <div class="icon-datatable">
                    <a href="#">
                        <img src="../../assets/Icons/EvaPersonFill.svg" alt="Ir-Afiliado">
                        <span class="tooltip">Ir a vista Especifica</span>
                    </a>
                    <a href="#">
                        <img src="../../assets/Icons/EvaEdit2Fill.svg" alt="Editar-Afiliado">
                        <span class="tooltip">Editar informacion </span>
                    </a>
                    <a href="#">
                        <img src="../../assets/Icons/EvaTrash2Fill.svg" alt="Eliminar-Afiliado">
                        <span class="tooltip">Eliminar</span>
                    </a>
                </div>
            </td>
        </tr>
        <tr>
            <td><img src="../../assets/Icons/EvaPersonAddFill.svg" alt="Añadir-Afiliado"></td>
            <td>Julian Castellanos</td>
            <td>jjosealejosgmail.com</td>
            <td>29654651</td>
            <td>07/11/2024</td>
            <td><span class="status">Estado</span></td>
            <td>
                <div class="icon-datatable">
                    <a href="#">
                        <img src="assets/Icons/EvaPersonFill.svg" alt="Ir-Afiliado">
                        <span class="tooltip">Ir a vista Especifica</span>
                    </a>
                    <a href="#">
                        <img src="assets/Icons/EvaEdit2Fill.svg" alt="Editar-Afiliado">
                        <span class="tooltip">Editar informacion </span>
                    </a>
                    <a href="#">
                        <img src="assets/Icons/EvaTrash2Fill.svg" alt="Eliminar-Afiliado">
                        <span class="tooltip">Eliminar</span>
                    </a>
                </div>
            </td>
        </tr>