<table>
    <thead>
        <tr>
            @for (th of T_heads(); track $index) {
            <th>{{ th }} </th>
            }
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Jose Julian Castellanos Alejos</td>
            <td>jjosealejos07gmail.com</td>
            <td>29654651</td>
            <td>07/11/2024</td>
            <td><span class="status background-status-rojo">Insolvente</span></td>
            <td>
                <div class="icon-datatable">
                    <a [routerLink]="rutaInfo()">
                        <img src="../../assets/Icons/MdiCardAccountDetailsOutline.svg" alt="Ir-Afiliado">
                        <span class="tooltip">Ir a vista Especifica</span>
                    </a>
                    <a href="#">
                        <img src="../../assets/Icons/MdiFileDocumentEditOutline.svg" alt="Editar-Afiliado">
                        <span class="tooltip">Editar</span>
                    </a>
                    <a href="#">
                        <img src="../../assets/Icons/MdiDeleteOutline.svg" alt="Eliminar-Afiliado">
                        <span class="tooltip">Eliminar</span>
                    </a>
                </div>
            </td>
        </tr>
        <tr>
            <td>Jose Julian Castellanos Alejos</td>
            <td>correo</td>
            <td>29654651</td>
            <td>07/11/2024</td>
            <td><span class="status background-status-verde">Solvente</span></td>
            <td>
                <div class="icon-datatable">
                    <a [routerLink]="rutaInfo()">
                        <img src="../../assets/Icons/MdiCardAccountDetailsOutline.svg" alt="Ir-Afiliado">
                        <span class="tooltip">Ir a vista Especifica</span>
                    </a>
                    <a href="#">
                        <img src="../../assets/Icons/MdiFileDocumentEditOutline.svg" alt="Editar-Afiliado">
                        <span class="tooltip">Editar</span>
                    </a>
                    <a href="#">
                        <img src="../../assets/Icons/MdiDeleteOutline.svg" alt="Eliminar-Afiliado">
                        <span class="tooltip">Eliminar</span>
                    </a>
                </div>
            </td>
        </tr>

        <tr>
            <td>Jose Julian Castellanos Alejos</td>
            <td>correo</td>
            <td>29654651</td>
            <td>07/11/2024</td>
            <td><span class="status background-status-azul ">Solvente</span></td>
            <td>
                <div class="icon-datatable">
                    <a [routerLink]="rutaInfo()">
                        <img src="../../assets/Icons/MdiCardAccountDetailsOutline.svg" alt="Ir-Afiliado">
                        <span class="tooltip">Ir a vista Especifica</span>
                    </a>
                    <a href="#">
                        <img src="../../assets/Icons/MdiFileDocumentEditOutline.svg" alt="Editar-Afiliado">
                        <span class="tooltip">Editar</span>
                    </a>
                    <a href="#">
                        <img src="../../assets/Icons/MdiDeleteOutline.svg" alt="Eliminar-Afiliado">
                        <span class="tooltip">Eliminar</span>
                    </a>
                </div>
            </td>
        </tr>
        <tr>
            <td>Jose Julian Castellanos Alejos</td>
            <td>correo</td>
            <td>29654651</td>
            <td>07/11/2024</td>
            <td><span class="status background-status-naranja">Solvente</span></td>
            <td>
                <div class="icon-datatable">
                    <a [routerLink]="rutaInfo()">
                        <img src="../../assets/Icons/MdiCardAccountDetailsOutline.svg" alt="Ir-Afiliado">
                        <span class="tooltip">Ir a vista Especifica</span>
                    </a>
                    <a href="#">
                        <img src="../../assets/Icons/MdiFileDocumentEditOutline.svg" alt="Editar-Afiliado">
                        <span class="tooltip">Editar</span>
                    </a>
                    <a href="#">
                        <img src="../../assets/Icons/MdiDeleteOutline.svg" alt="Eliminar-Afiliado">
                        <span class="tooltip">Eliminar</span>
                    </a>
                </div>
            </td>
        </tr>
        
