<section class="container-login">
    <div class="container-form">

        <form action="">
            <h1>Cooperativa <br />Santa Gema</h1>
            <h2>Registro</h2>
            <div class="container-inputs">
                <input type="text" placeholder="">
                <label for="Usuario">Usuario</label>
            </div>
            <div class="container-inputs">
                <input type="password" placeholder="">
                <label for="Contraseña">Contraseña</label>
            </div>
            <app-button width="50%"></app-button>
        </form>
    </div>
    <div class="container-background">
    </div>
</section>
