<app-h1 tittle="Formulario"></app-h1>
<div class="container"  >
    <app-h2 tittle="Crear Usuario"></app-h2>
    <form action="" #main>
        <input type="number" placeholder="Ingresar cedula">
        <input type="text" placeholder="Ingresar nombre">
        <input type="text" placeholder="Ingresar apellido">
        <input type="password" placeholder="Ingresar contraseña">

        <div class="container-combobox">
            <div class="combobox">
                <div class="combobox-btn" #comboboxBtn>Seleccionar un Rol</div>
                <img src="../../../../assets/Icons/MdiArrowDown.svg" alt="" #comboboxIcon>
            </div>     
            <ul class="content" #content>
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>3</li>
            </ul>
        </div>

        <app-button tittle="Añadir Usuario" width="35%"></app-button>
    </form>
 </div>
