<app-h1 tittle="Formulario"></app-h1>
<div class="container"  >
    <app-h2 tittle="Crear Usuario"></app-h2>
    <form action="" [formGroup]="userForm" #main>
        <input type="number" placeholder="Ingresar cedula" formControlName="ci">
        <input type="text" placeholder="Ingresar nombre" formControlName="name">
        <input type="text" placeholder="Ingresar apellido" formControlName="lastname">
        <input type="password" placeholder="Ingresar contraseña" formControlName="password">

        <div class="container-combobox">
            <div class="combobox">
                @if (!SelectRolB) {
                    <div class="combobox-btn" ngClass="activeText" #comboboxBtn> {{ SelectRolName}} </div>
                    <img src="../../../../assets/Icons/MdiArrowDown.svg" alt="" #comboboxIcon>
                }@else {
                    <div class="combobox-btn" #comboboxBtn> {{ SelectRolName }} </div>
                    <img src="../../../../assets/Icons/MdiArrowDown.svg" alt="" #comboboxIcon>
                }
            </div>     
            <ul class="content" #content>
                @for (item of respRoles?.roles; track item.id) {
                    @if (item.status === 'active') {
                        <li (click)="obtenerRol(item.id, item.name)"> {{item.name}} </li>
                    }
                }
            </ul>
        </div>

        <app-button tittle="Añadir Usuario" width="35%" (click)="edit ? editUser() : onSaveUser()" ></app-button>
    </form>
 </div>
