<div class="body">
    <app-h1 tittle="Módulo de Gestion de Usuario"></app-h1>
    <div class="container">
        <app-h2 tittle="Crar Usuario"></app-h2>
        <app-input-text [title]="'Nombre del Usuario'"></app-input-text>
        <app-input-number [title]="'Cedula del Usuario'"></app-input-number>
        <app-input-password [title]="'Contraseña'"></app-input-password>
        <app-input-password [title]="'Confirmar Contraseña'"></app-input-password>
        <app-button tittle="Añadir Familiar" width="25%"></app-button>

    </div>
</div>
