    <app-h1 tittle="Módulo de Roles y permisos"></app-h1>
    <div class="container">
        <app-h2 tittle="Crear Roles"></app-h2>

        <form action="" [formGroup]="userForm">
            <label for="NameRol">Nombre del Rol</label>
            <input type="text" placeholder="Nombre del Rol" formControlName="name">
            
            <label for="DescriptionRol"> Descripción del Rol</label>
            <textarea name="DescriptionRol" placeholder="¿Qué hace este Rol?" formControlName="description" ></textarea>
            
            <app-button tittle="Añadir Permisos" width="25%" mat-raised-button (click)="openDialog()"></app-button>
            
            
            <p>Selecciones:</p>
            <ul>
                @for (option of selectedOptions; track $index) {
                <li>{{ option }}</li>
                }            
            </ul>
            <button class="btn" (click)="edit ? updateRol() : onSaveRol()">Añadir</button>
            <!-- <app-button tittle="Añadir" width="25%"></app-button> -->
        </form>
    </div>