<div class="body">
    <app-h1 tittle="Módulo de Roles y permisos"></app-h1>
    <div class="container">
        <app-h2 tittle="Crear Roles"></app-h2>
        <app-input-text [title]="'titulo del Rol'"></app-input-text>
        <app-textarea [title]="'Descripción del Rol'"></app-textarea>

        <app-button tittle="Añadir Vistas" width="25%" mat-raised-button (click)="openDialog()"></app-button>

        <ul>
            <li>
                Selecciones:
                <ul>
                    <li *ngFor="let option of selectedOptions">{{ option }}</li>
                </ul>
            </li>
        </ul>

        <app-button tittle="Añadir" width="25%"></app-button>
    </div>
</div>