.container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 80%;
    padding: 2rem;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 20px;

    & input {
        background-color: #eeeeee;
        border-radius: 10px;
        width: 50%;
        padding: .5rem;
        margin: 0 auto;
    }

    & textarea {
        background-color: #eeeeee;
        min-height: 100px;
        resize: none;
        border-radius: 10px;
        width: 50%;
        padding: .5rem;
        margin: 0 auto;
    }
    

    & * {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: .8rem;
    }
    & button{
        border: none;
        color: aliceblue;
        background-color: var(--senary-color);
        padding: .5rem 0;
        border-radius: 20px;
        cursor: pointer;
    }
    & button:hover{
        background-color: #00357a;
        transform: scale(1.05);
    }
}