<aside>
    <nav class="navbar">
        <a href="#"><i class="fas fa-home"></i> servicio 1</a>
        <a href="#"><i class="fas fa-user"></i> servicio 2</a>
        <a href="#"><i class="fas fa-cog"></i> servicio 3</a>
        <a href="#"><i class="fas fa-envelope"></i> servicio 4</a>
        <a href="#"><i class="fa-solid fa-file-invoice"></i> servicio 5</a>
        <a href="#"><i class="fas fa-info-circle"></i> servicio 6</a>
        <a href="#" class="fixed-inicio"><i class="fas fa-user"></i> inicio</a>
    </nav>
</aside>
