aside {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: var(--secondary-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    flex-flow: column;
    padding: 10rem 2rem;
    width: 17.5rem;
    text-align: center;

    & .imagen-circular {
        position: absolute;
        top: 3rem;
        
        text-align: center;
        width: 100%;

    }
    & .circular {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        object-fit: cover;
    }

    & .navbar {
        display: flex;
        flex-direction: column;
        justify-content: start;
        width: 130%;

        & app-aside-btn {
            width: 100%;
            padding: 1rem;
            box-sizing: border-box;
            color: var(--gray-color);
        }

        & app-aside-btn:hover {
            background-color: var(--primary-color);
        }
    }

    & .fixed-inicio {
        position: absolute;
        bottom: 0;
        width: 100%;
        text-align: center;
    }
}