<aside>
    <nav class="navbar">
        <!-- ? aqui se haria un if dependiendo del rol que se tenga  -->
        <app-aside-btn tittle="Auditoria" ruta="/auditoria"></app-aside-btn>
        <app-aside-btn tittle="Facturacion" ruta="/facturacion"></app-aside-btn>
        <app-aside-btn tittle="Facturacion Estadisticas" ruta="/facturacionDash"></app-aside-btn>
        <app-aside-btn tittle="Afiliados" ruta="/afiliados"></app-aside-btn>
        <app-aside-btn tittle="Contratos" ruta="/gestionContratos"></app-aside-btn>
        <app-aside-btn tittle="Grupo Familiar" ruta="/gestionGrupoFamiliar"></app-aside-btn>
        <app-aside-btn tittle="Usuarios" ruta="/gestionUsuarios"></app-aside-btn>

        <!-- la clase fixed-inicio esta en styles-globales -->
        <app-aside-btn tittle="Inicio" ruta="/" class="fixed-inicio"></app-aside-btn> 
    </nav>
</aside>

