aside {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: var(--secondary-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    flex-flow: column;
    padding: 10rem 2rem;
    width: 17.5rem;
    text-align: center;
}

.navbar {
    display: flex;
    flex-direction: column;
    width: 130%;
}

.fixed-inicio {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 1rem;
    box-sizing: border-box;
    text-align: center;
}