<aside>
    <div class="imagen-circular">
        <img src="../../assets/images/icono-pestaña.png"alt="Imagen circular" class="circular">
    </div>
    <nav class="navbar">
        <!-- ? aqui se haria un if dependiendo del rol que se tenga  -->
        <app-aside-btn tittle="Auditoria" ruta="/auditoria"></app-aside-btn>
        <app-aside-btn tittle="Facturacion" ruta="/facturacion"></app-aside-btn>
        <app-aside-btn tittle="Personal" ruta="/AuditoriaUsuariosComponent"></app-aside-btn>
        <app-aside-btn tittle="Afiliados" ruta="/afiliados"></app-aside-btn>
        <app-aside-btn tittle="Contratos" ruta="/gestionContratos"></app-aside-btn>
        <app-aside-btn tittle="Gestion Roles" ruta="/gestionRoles"></app-aside-btn>
        <app-aside-btn tittle="Usuarios" ruta="/gestionUsuarios"></app-aside-btn>

        <app-aside-btn tittle="Inicio" ruta="/" class="fixed-inicio"></app-aside-btn> 
    </nav>
</aside>

