<app-h2 tittle="Añadir Permisos" mat-dialog-title></app-h2>
<mat-dialog-content>
    <p>Añadir los Módulos a las que se tendrá acceso</p>
    <app-checkbox (selectedOptionsChange)="onSelectedOptionsChange($event)"></app-checkbox>
    
</mat-dialog-content>
<mat-dialog-actions>
    <ul>
        <li>
            <button mat-button (click)="onNoClick()">Salir</button>
            <button mat-button [mat-dialog-close]="selectedOptions" cdkFocusInitial>Ok</button>
        </li>
    </ul>
</mat-dialog-actions>