<div class="container-card">
    <div class="card-header">
        <div class="header-info">
            <h2>informacion del afiliado [codigo]</h2>
            <div class="container-text">
                <strong>Nombre:</strong>
                <p>Jose Julian Castellanos Alejos</p>
            </div>
            <div class="container-text-compuesto">
                <div class="container-text">
                    <strong>Beneficiarios:</strong>
                    <p> 4 </p>
                </div>
                <div class="container-text">
                    <strong>Contratos:</strong>
                    <p>1</p>
                </div>
            </div>

            <span>Estado</span>
        </div>

        <div class="header-buttons">
            <app-button tittle="Facturas" width="100%" ruta="/facturacion"></app-button>
            <app-button tittle="Contratos" width="100%" ruta="/gestionContratos"></app-button>
            <app-button tittle="Añadir Pago" width="100%" ruta="/facturacionPago"></app-button>
        </div>
    </div>

    <div class="card-body">
        <div class="container-personalData">
            <h3>Datos Personales</h3>
            <div class="container-text">
                <strong>Edad:</strong>
                <p> 22 </p>
            </div>
            <div class="container-text">
                <strong>Direccion:</strong>
                <p> carrera 3 entre calles 57 y 58</p>
            </div>
            <div class="container-text">
                <strong>Correo Electronico:</strong>
                <p> jjosealejos07gmail.com </p>
            </div>
            <div class="container-text">
                <strong>telefono</strong>
                <p> 0412-5659767 </p>
            </div>
        </div>
        <div class="container-attach">
            <h3>Archivos Adjuntos</h3>
            <div class="container-image ">
                <img src="../../assets/images/rifFCV.png" alt="">
            </div>
        </div>
    </div>
</div>
